doctype html
html(lang="en-GB")
  head
    title Image Search API
    style.
      span{
        background-color: pink;
        }
  body
    h1 Image Search Abstraction Layer
    h3 FreeCodeCamp API Project

    h3 Usage:

    p Search for an image
    span 'https://mire-raven.hyperdev.space/api/search/cats?offset=2'

    p View latest searches
    span 'https://mire-raven.hyperdev.space/api/latest'
